<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amore mío 💕</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../Styles/styles.css">
    <link rel="shortcut icon" href="../../../img/logoshortcut.png" type="image/x-icon">
</head>

<body>

    <head>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="bi bi-heart-fill fs-2 mx-2"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="../../../../index.html">Inicio</a>
                        <a class="nav-link" href="../../Cartas.html">Cartas</a>
                        <a class="nav-link" href="../Meses.html">Meses</a>
                        <a class="nav-link" href="../../Señales/Señales.html">Señales</a>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <button id="myBtn" title="Go to top" class="border rounded"><i class="bi bi-heart-fill fs-4 mx-1"></i></button>

    <section class="container my-5">
        <h1>DICIEMBRE</h1>
        <div class="card border rounded p-5 my-5 shadow">
            <h2>10 diciembre 2024</h2>
            <p>
                Esta carta la tuve que haber escrito muchísimo antes, pero no quería alargarme más de lo
                necesario y
                quería pensar bien las cosas antes de escribir, porque yo sé que esto le llega a la mujer que
                más
                amo en este mundo.
            </p>
            <p>
                No sé como comenzar esta carta porque son varias cosas que tengo que contar, entonces
                seguramente se
                divida en varias cartas que iré haciendo a través de estos días.
                La idea de estas cartas es poder intentar explicar por qué estoy de esta forma, y ¿cómo estoy?,
                eso
                es lo que voy a decir acontinuación.
            </p>
            <p>
                La verdad mi reina hermosa, es que estoy peor que mal, y ¿por qué?, por todo lo que voy a
                contar,
                pero en resumen, sí, no estoy bien, estoy en una licuadora que me lleva de un lado a otro y
                parece
                que no va a parar dentro de poco.
            </p>
            <p>
                En esta carta voy a hablar de la cosa, se podría decir que menos importante, aunque aún así, le
                afecta a su pollito.
            </p>
            <p>
                Mi casa, todo lo que la engloba, mis hermanos, mis papás, yo, todo en mi casa ahora mismo está
                siendo un caos, que parece que el único que lo nota soy yo, es eso o que me estoy volviendo loco
                que
                es lo más probable.
            </p>
            <p>
                Últimamente en mi casa, mis papás me han estado soltando más en el sentido de ser el hermano
                mayor,
                se van y me dejan a cargo de los niños, o depronto simplemente están en la habitación y yo soy
                el
                que tiene que estar pendiente, y no les digo nada a ellos, porque ellos se merecen eso, pero la
                verdad estoy llegando a mi límite, ¿con que?, con todo eso, porque me estoy poniendo la carga
                como
                si fuera un papá más, yo sé que eso no lo debería hacer, pero me pasa, y la verdad es que si me
                afecta bastante, porque ya veo que están jugando las niñas de una forma rara, y las regaño, pero
                el
                gran problema ahí es que, aunque yo me ponga esa carga, no soy el papá, por lo que no me hacen
                caso,
                y todo eso empieza a carcomerme la cabeza, no solo pensando en varias cosas, si no también en
                agotarme mentalmente, porque claro, soy pendiente de todos a toda hora, y eso me empieza a
                cansar,
                me da más rabia, me da de todo, entonces por eso he estado peor estos días.
            </p>
            <p>
                Además de todo eso, esta
                casa ha estado 5 veces más desordenada de lo normal, y mi colérico como que no da más
                jajajajajajajjajaj, pero al fin y al cabo, son bobadas, por eso os las cuento. Y bueno, esto era
                una
                de las cosas que me tienen mal, y se podría decir que es la que en menor medida me pone así.💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h3>11 diciembre 2024</h3>
            <p>
                En esta carta específicamente voy a hablar de algo que ha estado tomando mucha importancia para
                mí estos últimos meses, especialmente este último mes.
                Aunque esto no me debería estresar mucho, la verdad es que sí me estresa bastante, y me pone mal
                por varios motivos, uno de ellos y el menos importante por ahora son las mujeres que están allá,
                porque como ya he hablado anteriormente nunca había visto mujeres peor vestidas que ellas, y no
                en sentido de la moda, si no que, usted me entiende mi amor, entonces claro, eso quiera o no son
                tentaciones para uno, pero para mí eso es lo menos importante porque finalmente me va a tocar
                vivir con eso el resto de mi vida, sin embargo lo que si me preocupa y bastante es mi estudio,
                ya voy a explicar.
            </p>
            <p>
                En cuanto al estudio voy muy bien gracias a Dios, el problema es que tengo que entregar un
                proyecto final, que realmente me tiene muy estresado, me tiene al límite de mi estrés porque
                para el colmo yo era uno de los líderes, el "Scrum Master", entonces claro, todo el peso caía
                sobre mí, bueno, cae, porque todavía no lo he entregado, y obviamente eso me tiene estresado
                porque ya usted sabe my love como soy de colérico para ese tipo de cosas.
                A parte de esto, estoy bastante nervioso por mi etapa práctica, cuando comience a trabajar de
                verdad, porque me da miedo de varias cosas, ¿será que si estoy preparado?, ¿Donde no sea capaz?,
                ¿Será que si me contratan?, ¿Si les interesará mi perfil?, tantas preguntas que me hago, me
                tienen mareado, porque como jamás en mi vida he trabajado, no sé cómo será, y la verdad es que
                sí, estoy nervioso.
            </p>
            <p>
                Y por último en cuanto a esto, es mi papá, y ¿qué tiene que ver él acá?, que, amor mío, me
                siento muy presionado, porque a parte de todo eso de la Universidad, él me está casi que
                exigiendo estudiar más, yo sé que es porque él quiere que yo gane plata, pero amor mío, ahora no
                estoy con ese tiempo disponible, y la verdad la presión de él, de mi mamá, de todo el mundo, de
                pensar que yo soy el que tiene que ganar la plata, de pensar que todo el mundo tiene unas
                expectativas muy grandes en mí, y que después se den cuenta bien como soy, y me digan que no
                sirvo, no sé, son pensamientos míos, pero amor mío, de verdad que no sé, siento que esperan más
                de mí de lo que puedo dar, y no quiero decepcionar a nadie, y menos a usted amor mío, perdón si
                a veces no soy capaz de hacer lo que usted cree que soy capaz, perdón por decepcionarla, perdón
                por todas esas veces que usted esperaba algo de mí y yo no lo he hecho, perdón amor mío, de
                verdad, no aguanto más seguir decepcionando a la gente que amo, perdón de verdad. Yo sé que
                estas cartas son muy corticas, y que puede que usted piense que lo pudiera juntar todo en una
                sola carta, pero amor mío, hago esto es para poder explicar bien cada punto, igualmente ya sabe
                que no está obligada a leer nada de esto, esto es como mi desahogo, y mas ahora que estoy
                pudiendo hablar super poquito con usted.💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h3>12 diciembre 2024</h3>
            <p>
                Hoy la verdad no tengo ni ganas de escribir esto, porque me acabo de dar cuenta de una cosa que
                me tiene peor que de costumbre, pero sé que las tengo que escribir porque me voy a terminar
                ahogando con esto adentro. También he estado pensando en si publicar o no las cartas, porque ya
                no sé que puede que quieras leer o no, o ya no sé si todavía te interesan o no, o bueno, no sé,
                lo tengo que pensar, el caso.
            </p>
            <p>
                Hoy toca hablar de probablemente un tema que usted no quiere escuchar my love, que es sobre su
                mamá, entonces si no la quiere leer, solo tiene que pasar a la siguiente carta.
                Yo había dicho que tenía que hablar 2 cosas de ella, y las iba a dividir en 2 cartas diferentes,
                pero ya no, como vi que no quieres escuchar sobre tu mamá, prefiero reducirlo todo a esta corta
                carta que va a ser concisa y al grano.
                Los 2 puntos principales son que su mamá se está cansando de mí, y el otro es que me la está
                tratando muy mal a usted.
            </p>
            <p>
                Respecto al primer punto, la verdad era de esperarse, después de tantos días que voy, tantas
                horas, tanto tiempo que le quito con su única hija, tantas complicaciones que le pongo a parte
                de las que ya tiene, que me tienen que llevar a todo lado, que yo quiero estar siempre al lado
                de su hija, todo eso la acabó cansando, y yo sé por qué lo digo, se le nota a ella que está
                cansada, puede que diga que yo le caigo bien, que si no se qué, yo noto, o al menos es lo que yo
                siento, que están buscando como intentar que me aleje de su hija, que como digo, es totalmente
                normal porque yo sé que estoy muy intenso. Obviamente esto me duele, porque todo esto implica
                que yo me sienta mal al estar con mi propia novia, porque pienso que su mamá no quiere que yo
                esté ahí, y es una pensadera que va y viene siempre, que la verdad, no es que esté cansado, pero
                agota mentalmente, y no es culpa de nadie.
            </p>
            <p>
                Y el segundo punto es como me trata a mi novia, yo como dije en el primer punto puedo entender
                que se cansen de mí, porque es lógico y mis papás también ya me dijeron, pero que trate mal a su
                propia hija?, que le eche la culpa de todo?, que ella siempre sea la culpable?, que la utilice
                como saco de boxeo?, eso si no lo entiendo nada, pero nada nadita, o sea, su única hija, y la
                trata así de mal?, la verdad me gustaría preguntarle a la cara que qué es lo que pretende
                tratandola así, pero por prudencia no voy a decir nada, pero la verdad es que eso sí me tiene
                cansado, que me la traten como saco de boxeo, no lo aguanto, porque de cierta forma yo soy un
                tris responsable de mi novia, y no me parece que me la traten así.
            </p>
            <p>
                Y bueno, este es el resumen de esto para que no sea tan maluco para que usted lo lea amor mío,
                las otras si van a tener más cosas, o eso espero, porque ya con lo que pasó hoy ni sé. 💎❤

            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h3>13 diciembre de 2024 - 1</h3>
            <p>
                Bueno amor mío, en estos momentos estoy igual o incluso peor que ayer, muchos pensamientos que
                tengo que iré desarrollando conforme pase esta carta o el resto de ellas.
            </p>
            <p>
                En esta carta voy a hablar sobre la indiferencia, y yo sé que la pregunta es: ¿Cómo así?, ¿Qué
                indiferencia?, y bueno my love, la verdad es que yo tampoco sé mucho de esto, pero quiero dejar
                claro desde ahora que no le estoy echando la culpa de nada, y espero que no lo sienta así,
                ninguna de estas cartas tienen la intención de echarle la culpa, porque la verdad es que usted
                no tiene la culpa, la culpa siempre es mía, y ya tengo que empezar a aceptar eso, porque siempre
                es así, entonces amor mío, espero que no sienta que le estoy echando la culpa.
            </p>
            <p>
                Ahora si amor mío comienzo, ¿la indiferencia en que sentido?, ps amor mío, la verdad es que en
                este último mes si he sentido una indiferencia hacia mí, hacia las cosas que hago, hacia, no sé,
                la relación puede ser, y esto no es culpa suya amor mío, como digo, es solo culpa mía porque yo
                creí que todo estaba bien, estaba disfrutando demasiado de nuestro noviazgo, pero ahí estuvo mi
                error, que era solo yo, pero este tema lo voy a desarrollar en una carta aparte. El caso es amor
                mío, que sí, he sentido indiferencia en cuanto a por ejemplo, ya pareciera que a usted no le
                gusta estar conmigo, porque no sé, me dice que me vaya, cosa que no pasaba antes porque quería
                que me quedara mas tiempo, pero ya está pasando eso.
            </p>
            <p>
                También a veces que no podemos salir usted
                se siente como mas, descansada, no sé, entonces todo eso me llevó a una conclusión: El que la
                pone mal, so simple y llanamente yo, su novio, y la verdad amor mío es que me duele ser esa
                persona que no la deja descansar, que sea esa persona que en vez de ayudarla a que su vida sea
                mas amena, antes soy la persona que hace que su vida sea mas difícil, que la hace llorar, que la
                hace preocuparse, que le hace preguntas y preguntas y preguntas y preguntas hasta que se cansa,
                esa persona que se pone mal cuando usted se va de viaje y no la deja descansar mentalmente, ni
                emocionalmente, esa persona que, en pocas palabras, le hace la vida imposible, y sí, obvio me
                duele, porque siendo su novio tendría que ser todo lo contrario, tendría que ser la persona que
                le da descanso, la persona que, no sé, la debería hacer sentir bien, y la verdad eso no es lo
                que está pasando, y de verdad que ya no sé por qué, no sé por qué estoy así, no sé por qué me
                pongo así, no sé por qué no puede ser ese San José que usted se merece, no sé por qué soy así
                de, no sé, bobo, no sé por qué, la verdad es que he intentado pensar en por qué soy así, y no
                entiendo, perdón my love, pero lo que sí sé, es porque usted mantiene pensando en que me quiere
                dejar, porque al parecer lo único que he mostrado es ser un inmaduro, que no cumple nada, que no
                es capaz de demostrar el amor que usted se merece, que no soy ese San José por el que usted
                estuvo y está orando tanto, lo único que he mostrade es que soy Angel, ese hombre bobito, que no
                capta indirectas, que no saluda, que no es amigable, que es un melancólico extremo, que es un
                soberbio que solo le importa lo que le pasa a él y no mas, que solo pide perdón y no es capaz de
                cambiar esas cosas malas que tengo, por esto es que usted ha pensado en terminarme varias veces,
                y la verdad es que si me duele, bastante, porque yo la amo con todo mi corazón, mas de lo que
                usted cree, pero como dije, este amor tan extremo que tengo por usted hace que yo quiera que
                usted se sienta bien siempre, y si eso tiene que implicar que ya no sea mi novia, por mucho que
                me duela me toca aceptarlo, pero no piense my love que lo que le estoy diciendo que me termine,
                o que yo quiero que me termino, jamás en la vida, yo quiero estar con usted hasta viejitos,
                cumplir esos sueños que he tenido con usted, pero amor mío, no quiero que se sienta presionada
                para seguir conmigo, y por mucho que me duela, si me termina, no voy a decir nada mas porque
                respeto su posición, aunque me duela con el alma, así como me está doliendo ahora.
                Y bueno amor mío, si entiendo su indiferencia, y es muy justificada, y solo me queda decir
                perdón por ser así, aunque yo sé que mis “perdón” ya parecen obsoletos, porque se lo mantengo
                repitiendo mucho, perdón.💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h3>13 diciembre 2024 - 2</h3>
            <p>
                Esta es una de las últimas cartas que voy a hacer de estas cosas que me ponen mal, y en esta voy
                a hablar de algo muy importante para mí, y que me duele en el alma, porque hoy voy a hablar de
                que, yo creí que todo estaba bien, pero no, y sí, me refiero a este último mes, en el que todo
                parecía color de rosas, literalmente, yo me sentía super feliz, sentía que todo iba a seguir
                así, sentía que cada día íbamos mejorando, hasta me planteaba ya en como sería nuestra vida
                casados, el problema fue que, solo parecía que eso pasaba, porque la realidad era que yo me
                creaba una impresión errónea de todo, y esto es solo culpa mía.
            </p>
            <p>
                No sabía que yo estaba tan terrible, quejumbroso, que parecía que le echaba la culpa por todo a
                mi novia, perdón amor mío, de verdad que no era, ni es, ni nunca jamás va a ser mi intención
                echarle la culpa, porque yo sé que todo es culpa mía.
            </p>
            <p>
                Perdón my love por todo, porque solo me fije en mí, porque mi soberbia no me dejó ver más allá,
                ver que esa persona que tanto amo estaba pasando mal momento, perdón, porque volví a caer en lo
                mismo de siempre, mi idiotez extrema, de creer que con lo que veo basta, no me tomaba el tiempo
                de preguntarte si estabas bien, y cuando ya caí en cuenta, era demasiado tarde.
            </p>
            <p>
                Amor mío, como te dije ese mismo día, necesito que me digas ese tipo de cosas apenas las sepas,
                porque muchas veces son cosas que yo ni me entero, cosas que siempre he echo, y que están mal, y
                necesito que alguien me corrija eso, y de verdad amor mío que perdón, ya no sé como más
                compensar mis errores, parece que cada día que pasa soy peor persona, pero novio, y eso me
                estresa, porque todos los días lucho por ser ese San José que te mereces, pero no, este hombre
                que está acá escribiendo la carta, parece que si es todo lo que Mafe le dice, que los hombres
                somos lo peor, que no servimos para nada, y un sin fin de cosas que la verdad, de tanto que me
                lo digan y me lo repitan, al final me lo voy a terminar creyendo.
            </p>
            <p>
                Perdón my love por todos esos días que se tenía que aguantar ese malestar que tenía estando
                conmigo, solo porque yo quería. Perdón por no dejarla disfrutar, perdón por ser tan metido en
                todos los viajes con su familia, perdón por mi intensidad, pero sobre todo, perdón por abrir mi
                corazón contigo.
            </p>
            </p>
            Sí amor mío, perdón, ya te diste cuenta que soy muy melancólico y mu dramático, y yo sé que esto
            te está afectando, por eso amor mío, desde hace unos día ya decidí, nada me puede afectar,
            absolutamente nada, ya siempre me vas a ver con una sonrisa, o al menos no triste, ya siempre me
            vas a ver como siempre, no como estaba pasando últimamente que hacía más pucheros que un bebé
            recién nacido, y yo sé que ya te cansaste de mí, también sé que me va a decir que no sé cansó de
            mí, que jamás, que eso no va a pasar, amor mío, yo sé que sí se cansó, de que yo sea así, y no
            hay nada malo con eso mi amor, yo sé que yo soy muy terrible y por eso es muy normal cansarse, y
            ¿por qué se que se cansó?, porque usted ya me lo dijo, y además se ve reflejado en varias cosas,
            como el pensar en terminarme constantemente, como el querer estar menos tiempo conmigo, como el
            decir que no pareciera que yo la quisiera ver, todo ese tipo de cosas, me lo demuestran, y por
            eso mismo es que entiendo que me diga que me quiere terminar, o que quiere darse un tiempo
            lastimosamente. Obvio todo esto me duele, por bueno, estoy haciendo todo lo posible por cambiar.
            No sé que mas decir amor mío, perdón por todo lo malo que le hice, y gracias por todo lo bueno
            que usted me ha dado sin yo merecerlo. Te amo mucho y siempre te amaré.💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h3>13 diciembre 2024 - 3</h3>
            <p>
                Y bueno, después de mucho pensarlo esta va a ser la última carta de estas que dije que iba a hacer para
                describir bien a fondo lo que sentía, porque la verdad ya vi que se está haciendo muy largo y además de
                eso también la estoy cansando, entonces en esta voy a reunir los últimos dos temas que faltan que igual
                también van compenetrados.
            </p>
            <p>
                Amor mío, para comenzar como siempre hago quiero que sepas nuevamente que estas cartas no las hice para
                echarte la culpa ni nada de eso, entonces por favor, no crea que esto va en ataque contra usted, antes
                todo lo contrario, todo lo que he sentido estos días de dolor, tristeza y aburrimiento han sido
                silamente por mi culpa y por nadie más.
            </p>
            <p>
                Bueno my love, la verdad es que después de lo que me dijiste ese día con que estabas cansada de mí, me
                puse a pensar lo siguiente, primero, en que, amor mío, la verdad es que con lo que ya levamos de novios
                de verdad que yo ya estoy decidido que usted va a ser mi esposa, totalmente decidido, además que ya
                tenía todo pensado, la plata que tenía que conseguir, todas las cosas que tenía que comprar, mas o menos
                el tiempo que me demoraba consiguiendo todo, pero todo cambió muy bruscamente en estos últimos meses, en
                específico en este último mes, porque según varias cosas que me dijiste, no tienes pensado casarte tan
                rápido, primero al comenzar todo me decías que sí, que se quería casar rápido, luego me dijiste que no,
                que hasta que tengas mínimo 20 no, luego que sí, que ya no importaba la edad, luego que ya querías era
                acabar primero la universidad, y ya por último sentí que me dijiste casi que ni te quieres casar
                conmigo, y yo sé que es por culpa mía, que estoy entendiendo mal o algo así, pero de verdad amor mío que
                yo me quería casar rápido, pero obviamente respeto y voy a seguir tu opinión porque como he dicho varias
                veces esto es un barco que remamos los dos, entonces claro, por mas que yo quiera no voy a obligarte a
                que te cases sin querer, y ya con lo último que me has dicho, ya ni sé si te quieres casar o no, y no es
                que me duela, pero algo así, es como que ese cambio tan brusco me afectó un tris, porque yo siempre he
                sido muy dado a mi parecer (cosa que no está nada bien), y por eso es que esto me afecta, pero ya que.
            </p>
            <p>
                Además que ya me dijiste que yo era muy desesperado, o acelerado, y bueno, la verdad es que sí, yo tengo
                la culpa de hacerme ideas erróneas en mi cabeza, yo tengo la culpa de pensar que ya todo estaba hecho y
                que no fuera así, yo tengo la culpa de empezar a planear esas cosas tan temprano, yo tengo el problema
                de ser esa piedra en el zapato tuyo cada día, yo tengo la culpa de ser tan intenso y que ya se estén
                cansando de mí, yo tengo la culpa de todo, yo sí soy acelerado, yo sí me quería casar rápido, pero
                bueno, todo pasa por algo en esta vida, no me quiero hacer mas la victima de lo que ya he hecho en todas
                estas cartas. Perdón tanto drama.
            </p>
            <p>
                Y bueno, ya para ir finalizando, yo sé que a causa de ese desespero mío, y a causa de esa intensidad, ya
                prefieren estar lo mas lejos de mí que sea posible, y lo digo por varias cosas que han pasado y que yo
                me voy dando cuenta pero no digo nada, porque obviamente no quiero juzgar mal, pero de verdad,
                últimamente siento como que están buscando alejarse de mí, y tiene todo el sentido del mundo, ¿A quién
                le gusta estar con un intenso?, y si fuera que al menos es buena gente, pero no, yo soy la cosa menos
                amigable de este mundo, entonces claro, es lógico que se cansen y me quieran lo mas lejos posible, obvio
                no me pueden alejar del todo porque finalmente sigo siendo su novio, pero bueno, se va notando eso, y no
                lo digo para que lo cambien, solo lo cuento porque este es mi único desahogue y quien sabe si el último.
            </p>
            <p>
                Y obviamente esto me pone un tris mal, pero bueno, ¿qué se le va a hacer si es mi culpa?, ¿qué se le va
                a hacer si es mi culpa que se quieran ir?, ¿qué se va a hacer si es mi culpa que no quieran estar
                conmigo?, ¿qué se va a hacer si es mi culpa hacer un mal ambiente?, ¿qué se va a hacer si su mamá quiere
                que usted no esté conmigo?, ¿qué se va a hacer si es mi culpa todo, absolutamente todo?, no sé, ya no sé
                que hacer, esta es mi licuadora que me lleva de un lado a otro, y que a parte de todo esto llegue mi
                novia y me recrimine en la cara que pareciera que yo no quisiera esta con ella, obviamente me duele, y
                amor mío, repito, no le estoy echando la culpa de eso, pero de verdad, yo era el primero que quería
                verla antes de que se fuera para allá, yo era el primero que el viernes la quería ver, pero no se pudo,
                yo era el primero que quería que se fuera el fin de semana conmigo, pero tampoco se pudo, ¿qué mas podía
                hacer yo amor mío?, ¿por qué le da rabia conmigo si hice todo lo posible por que usted estuviera
                conmigo?, organicé todo, transporte, donde iba a dormir, pregunté, y todo solo porque quería estar con
                usted, y cuando supe que no se pudo, obvio me dolió demasiado, pero ¿qué mas le iba a decir?, ¿qué mas
                podía hacer yo amor mío?, y de verdad pregunto, porque puede que esté cegado y haya habido otras
                opciones y yo no me di cuenta, pero amor mío, le respondí así como le respondí porque la verdad, ya me
                lo esperaba, precisamente por lo que le conté arriba, que se cansaron de mí, que están artos conmigo, y
                bueno, que se va a hacer, si me lo gané, pero obviamente quería y quiero estar con usted, y que me
                dijera que pareciera que no quisiera verla, me dio directo en el corazón, perdón por ser tan sensible.
            </p>
            <p>
                Y bueno amor mío, eso es todo lo general que tenía para contar, no quiero ser mas victima entonces no
                voy a alargar más esto, además que no sé que mas va a pasar, porque pareciera que mi novia me quisiera
                terminar ahora más que nunca, o mas bien, que se cansó ya totalmente de mí, y eso que el ahogaba el
                fuego de el amor, la terminó ahogando del todo, ¿me duele?, obviamente, ahora estaría llorando si no
                fuera porque ya dije que solo iba a poner cara feliz, pero obviamente eso me afecta, y no poquito.
            </p>
            <p>
                Bueno mi amor, quien sabe si esta sea la última vez que escriba por acá, pero quiero que sepa que la amo
                con locura y siempre la voy a amar, siempre, no importa que pase. Perdón por todo lo malo que he hecho
                en estos casi 8 meses que llevamos, y gracias por todo, especialmente por hacer latir de nuevo este
                corazón.💎❤
            </p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        var myButton = document.getElementById("myBtn");

        window.onscroll = function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                myButton.style.display = "block";
            } else {
                myButton.style.display = "none";
            }
        };

        myButton.onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>
</body>

</html>