<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amore mío 💕</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../Styles/styles.css">
    <link rel="shortcut icon" href="../../../img/logoshortcut.png" type="image/x-icon">
</head>

<body>

    <head>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="bi bi-heart-fill fs-2 mx-2"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="../../../../index.html">Inicio</a>
                        <a class="nav-link" href="../../Cartas.html">Cartas</a>
                        <a class="nav-link" href="../Meses.html">Meses</a>
                        <a class="nav-link" href="../../Señales/Señales.html">Señales</a>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <button id="myBtn" title="Go to top" class="border rounded"><i class="bi bi-heart-fill fs-4 mx-1"></i></button>

    <section class="container my-5">
        <h1>JUNIO</h1>
        <div class="card border rounded p-5 shadow">
            <h3>30 Junio 2024</h3>
            <p>
                Yo no sé que pasó hoy, todo parecía que estaba normal, el día iba bien, lo único que medio
                me chocó fue el saludo que me diste, que aunque me explicaste que no fue intencional, fue
                como ese inicio de un día que podría quedar en el olvido. Puede que esté siendo muy
                dramático, tu sabes que yo soy así, exageradamente dramático, pero hoy es imposible no
                serlo, después de todo lo que vivimos los dos hoy, no es un día para quedarse feliz. ¿Por
                qué no todo puede ser color de rosas?, ¿Por qué tienen que existir estas espinas en el
                camino?, todo iba tan bien, pero siempre tienen que llegar las tempestades. El día comenzó
                haciéndote sentir mal, cosa de la que me arrepiento profundamente, mi intención cuando te
                pregunto que si te pasó algo es porque de verdad siento que estas mal, no lo hago con ánimo
                de que te sientas mal, o incómoda, y apenas hoy me di cuenta de eso, perdón, no lo voy a
                hacer tan seguido, de verdad que perdón.
            </p>

            <p> Seguimos muy normal, incluso le ayudamos a Bedoya,
                nos dijimos cosas hermosas entre nosotros, pero solo bastó una frase mía para que todas esas
                palabras bonitas quedaran opacadas bajo la horrible oscuridad de mis sentimientos. Yo sé que
                lo que me dijiste fue molestando, pero de verdad, tu sabes que me cuesta muchísimo abrirme,
                y más en esos temas que me dejan en tan mal posición a mí, y aunque, como ya dije, yo sabía
                que era molestando, de verdad que me dolió, ¿Por qué?, seguramente sea soberbia mía, pero me
                sentí ignorado, que te demoraras varios minutos, no para responder, si no que ni mirabas el
                mensaje, ni el visto, yo sé que depronto estabas ocupada, hablando con Mafe, con Estefany,
                yo que sé, pero me sentí ignorado, o más bien, sentí que lo que decía te lo tomabas de
                charla o de juego, cuando yo no lo decía con esa tónica, aunque como siempre te digo, yo te
                perdono desde antes que me pidas perdón, seguramente esto no lo veas en muchos días, meses,
                años, o incluso no lo veas nunca, pero que sepas que desde este día, yo te perdoné, un error
                lo comete cualquiera, y ahí es donde voy.
            </p>

            <p> Después de que yo estuviera así, te preocupaste
                por mí, por si estaba bien, por si estaba mal, por si estaba regular, querías saber como
                estaba, y resulta que, tonto de mí, te dije que no pasaba nada, cuando si pasaba, de verdad
                que perdón por decirte mentiras, pero la verdad es que no quería que te pusieras así como
                estas en estos momentos, así de enojada, así de seca, así de cortante conmigo, por eso dije
                que no pasaba nada, y lo que me duele, y de verdad, me duele, es que tu me haces lo mismo,
                yo te pregunto si estás bien, me dices que sí, o cuando te pregunto que si te pasó algo, y
                me dices que no, es más, me dices hasta COMPLETA, y al final resulta que sí pasa algo, no
                estoy diciendo que lo hice por venganza o algo así, no me mal intérpretes, lo digo para que
                veas que eso es un tris terrible, que la persona que más amas del mundo te diga que está
                bien, incluso confirmandolo, cuando en realidad no está tan bien, y eso me duele, que me
                digas mentiras en esos casos, pero ya lo aprendí a superar, lo que si me duele ahora es que
                estés brava conmigo, que no me quieras decir nada, por algo que tu me has hecho varias
                veces, eso si me da dolor.
            </p>

            <p> Esto fue lo que pasó, no sé por qué estás brava conmigo por eso
                si tu también lo haces, yo sé que es muy terrible, créeme, yo sé, pero más me duele que
                después lo hago yo, y eres tu la que te enojas, me duele la verdad, y me duele mucho. Ahora
                mismo estoy derramando lágrimas, y ¿por qué?, porque así esté mal, así me duela, así haya
                pasado esto, sigues siendo mi novia, y no pienso dejar que una bobada como esta me quite a
                la persona más especial para mí en este mundo.
            </p>

            <p> Ahora voy a intentar contar lo que siento,
                porque creo que es importante para este día: en estos momentos me duele el corazón,
                muchísimo me duele, lo que llamaría más coloquialmente, se me rompió la piedra, yo sé que es
                una bobada, sí, soy consciente, pero igual, me duele, me arde, me quema, siento la rabia que
                tienes ahora mismo contra mí, y eso no es lo peor, siento ese dolor porque no me cuentes las
                cosas, siento ese dolor que hace que está piedra sea más una masa, siento dolor, mucho
                dolor, me duele que yo sea siempre el que se equivoca, me duele tener que reconocer mis
                errores, me duele la forma en que me respondiste, me duele los mensajes que me enviaste, me
                duele tu sequedad de hoy, me duele esa indiferencia que sentí, duele, y duele mucho, que esa
                persona que amo con todo mi corazón, termine haciéndome esto, duele, y duele bastante,
                obviamente mañana voy a mostrarme como siempre, normal, mostrando esa seriedad
                característica mía, es más, mañana se supone que salgo contigo, no voy a mostrar nada de
                esto que acabo de decir acá, porque es muy personal, y yo sé que a ti te gustaría escuchar,
                pero no, ya vi que mis sentimientos hacen caos, mejor me los guardo hasta el momento
                indicado, entonces por eso, mañana voy a estar normal, te voy a ver normal, no te voy a
                decir que he llorado toda la noche, no te voy a decir que me pesa este corazón como nunca,
                no te voy a decir que el hueco que siento en el corazón es gigante, y ¿por que no?, porque
                mis sentimientos lastiman, te enojan, te ponen mal, solo te voy a decir algo de esto si me
                lo preguntas directamente, mientras tanto se quedará entre mi corazón y yo. Me duele
                muchísimo mi amor, todo esto, me duele de verdad, se puede comparar a ese 25 de enero de
                este mismo año, y aunque es diferente el problema, así fue que comenzó ese día, entonces me
                duele, me quema, siento un hueco, un vacío, y además, me pesa como si estuviera cargando
                todos mis sentimientos reprimidos en mi corazón, me duele mucho, yo sé que lo repito mucho,
                pero es lo que siento, un dolor inimaginable, tanto así que me quedo corto diciendo que me
                duele, ¿pero sabes que es lo mejor?, nadie va a saber que estoy así, más que tu y yo, o
                quien sabe si solo yo, eso depende, pero nadie más, nadie me va a ver así, llorando, débil,
                como un niño pequeño, porque como hombre no me pueden ver así, me tienen que ver fuerte,
                valiente, tengo que ser cabeza, no corazón, por eso, nadie va a saber, ahora estoy en mi
                cama, acostado, escribiendo esto, y quien sabe si va a llegar a tus manos, pero lo tenía que
                escribir, me tenía que desahogar, tenía que decir cosas que no digo por costumbre porque sé
                que son hirientes, perdón.
            </p>

            <p> Tengo que guardar mis palabras a veces porque mi plan nunca es ni
                va a ser herir a mi novia, al amor de mi vida, entonces aunque aquí hable duro, yo te amo
                con todo mi corazón. Estoy triste la verdad, porque me voy a dormir como abatido, como con
                un sabor agrio, porque no pude acabar bien con esta persona tan wow que el Señor me regaló,
                mañana te voy a pedir perdón por todo, me voy a arrodillar al frente tuyo para mostrar mi
                arrepentimiento, si es necesario te voy a besar los pies, pero no puede seguir así esto, así
                no me parezca, así crea que eres tu la que tienes que pedir perdón (ese no es el caso), yo
                lo voy a pedir, así no sea yo el del error, voy a pedir perdón, si es necesario de rodillas,
                y ¿por que?, porque para mí el perdón es algo muy importante, y yo no sé cuando te he hecho
                sentir mal sin darme cuenta, ¿cuántas veces habrás quedado como yo ahora y yo sin darme
                cuenta?, por eso mi perdón siempre va a estar ahí, y mañana no va a ser diferente, mañana te
                voy a pedir perdón, y ya me lo supongo, me vas a hacer levantarme, pero me voy a resistir,
                porque es importante.
            </p>

            <p> Bueno mi amor, mucha cháchara, mucho relleno, mucho texto, solo me
                queda decir perdón por lo malo, gracias por todo, y te amo con todo mi corazón. 💎❤
            </p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        var myButton = document.getElementById("myBtn");

        window.onscroll = function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                myButton.style.display = "block";
            } else {
                myButton.style.display = "none";
            }
        };

        myButton.onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>
</body>

</html>