<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amore mío 💕</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../../Styles/styles.css">
    <link rel="shortcut icon" href="../../../img/logoshortcut.png" type="image/x-icon">
</head>
<body>
    <head>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="bi bi-heart-fill fs-2 mx-2"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="../../../../index.html">Inicio</a>
                        <a class="nav-link" href="../../Cartas.html">Cartas</a>
                        <a class="nav-link" href="../Meses.html">Meses</a>
                        <a class="nav-link" href="../../Señales/Señales.html">Señales</a>
                    </div>
                </div>
            </div>
        </nav>
    </head>
    <button id="myBtn" title="Go to top" class="border rounded"><i class="bi bi-heart-fill fs-4 mx-1"></i></button>

    <section class="container my-5">
        <h1>OCTUBRE</h1>
        <div class="card border rounded p-5 shadow">
            <h2>5 de octubre de 2024</h2>
            <p> Bueno amor mío, ya perdón, a ver, lo que le iba a contar my love es algo que seguramente no
                quiera escuchar ahora, entonces como sé que está brava, no está obligada a leerlo, y de
                verdad, hágalo por mí mi amor, no quiero que se ponga más brava de lo que está.
            </p>

            <p> Amor mío, es que resulta que ya no aguanto más, hoy llegué con todos los ánimos del mundo a
                hablar con él amor de mi vida, además, nos íbamos a ver, entonces obviamente, como yo sabía
                que me iba a decir que decidiera yo que hacíamos, decidí que en mi casa y que mis papás la
                recogían, para que no hubiera problemas, pero amor mío, imagínese que, se estresó, si, ¿Por
                qué?, porque le daba pena, así fueran sus suegros, que lo hacían con todo el amor del mundo,
                igual le dio pena, pero eso es normal, no importa, es normal que le de pena con sus suegros,
                y usted me dijo que su papá la llevaba, entonces yo seguía normal, me dio un tris de rabia,
                pero ps, se me quitó ahí mismo, organicé la casa, aunque me estén doliendo los pies
                impresionantemente, yo no quería que usted viera la casa así, y cuando por fin pude
                descansar, me volvió a llegar un mensaje del amor de mi vida, entonces claro, mi esperanza
                era que me dijera que estaba abajo, y no, era diciéndome que si no era muy tarde, y ps,
                obvio no, apenas son las 8, todavía estaríamos juntos, pero bueno.
            </p>

            <p> El caso es que me dijo
                que le daba pena, que esperara, que así no era capaz de pensar, y al final, yo ya ví que no
                quería venir, y la verdad ps, me dolió porque la quería ver, pero lo primero que quiero es
                que esté cómoda, entonces ps, le dije que mejor no viniera y ya, pero resulta que ese acto
                que creí yo que estaba bien, parece que a usted no le pareció bueno para nada, y sí, le dio
                rabia, o no sé si sea otra cosa, porque la verdad, ya no sé ni qué es, lo que si se es que
                amor mío, perdón, pero ya no aguanto más, este corazón delicado, si muy delicado, ya no
                aguanta más, tanta sequedad ya lo ahogó y ya explotó, entonces amor mío, le pido por favor,
                para la próxima que no quiera hablar, me ávida antes, porfis, que puede que me llame Angel,
                pero también soy un humano, y lastimosamente, este corazón no aguanta tanto, entonces porfis
                amor mío.
            </p>

            <p>Gracias.💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h2>15 de octubre de 2024</h2>
            <p> Hoy la verdad, no sé ni qué decir, solo me tengo que desahogar porque ya no aguanto más. Han
                pasado tantas cosas últimamente que no sé que hacer, me tienen loco, problemas por un lado,
                bobadas por otro, y todo me afecta, no tiene sentido, ¿Por qué me afectan cosas tan
                estúpidas?, nadie lo sabe, ni yo, parece que es porque soy eso mismo, un estúpido. No sé de
                qué se va a tratar esto, ni que voy a decir, solo sé que estás palabras que van a salir de
                mí, van a ser desde mi corazón, que hoy la verdad no está muy bien que digamos.
            </p>

            <p> El contexto
                es que todo el fin de semana estuve en retiro, entonces pasaron dos cosas importantes ahí:
                primero, en todos los retiros me pongo mal, de una forma u otra, siempre me pongo mal, no sé
                por qué, tal vez la carga espiritual, o que es pura bobada mía, pero siempre pasa, y
                segundo, pasó la típica pendejada o bobada que lo deja maluco a uno, en este caso fue la
                verdad una estupidez mía: un regaño o más bien corrección fue lo que lo inició todo, y desde
                esa corrección yo ya sabía lo que se venía. Esa corrección era que no estuviera tan cerca de
                mi novia en el retiro, pero no dijeron que no nos podíamos ver, aunque yo ya sabía lo que
                iba a pasar, porque ha pasado siempre.
            </p>

            <p> En ese mismo momento, me puse mal porque soy muy
                soberbio, tengo un ego muy elevado, tanto que me dan rabia que me corrijan, y a parte de
                eso, yo sabía que el día siguiente iba a ser que mi corazón terminara como terminó.
            </p>

            <p> En fin,
                la noche fue terrible, porque soñé de todo, soñé que el día iba a ser terrible, que no me
                iba a despertar a tiempo, que me iban a regañar, mil cosas, pero ni en mis peores sueños
                pude haber sentido lo que sentí ese día. Al pasar todos esos sueños me despertó una voz de
                una misionera, entonces me levanté y fui a bañarme inmediatamente, y apenas salí del baño,
                primera cosa, regaño en toda la cara de esa misma misionera que me decía que por qué no dije
                que me calentaran el agua porque estaba enfermo, no le presté mucha atención, pero desde ese
                momento ya empezaba mi corazón con ese cincel a pegar. Luego de eso, subí a mi habitación,
                porque necesitaba hacer las oraciones y descansar de todo eso, por lo tanto eso fue lo que
                hice, llegué, hice unas oraciones, y me quedé pensando, y ¿en qué?, en ese momento, en cosas
                buenas, yo pensaba: ¿como va a estar mi novia de hermosa hoy?, ¿que ropa se va a poner hoy
                la mujer más hermosa de este mundo?, ¿será que ella me va a ignorar todo el día?, ¿no se
                querrá juntar a mi ni un segundo?.
            </p>

            <p> Tantas preguntas que en sí no eran malas, pero en ese
                momento, llegaron a decirme que bajara, y apenas bajé, empezaron unos juegos, de los cuales
                no participé, así fue pasando la mañana, muy feliz todo, hasta la hora del desayuno, ahí
                todo empezó en declive.
            </p>

            <p> Me empecé a poner mal, pero peor, fue que, efectivamente, pasó lo
                que yo creía, volví a comer solo, y mi novia estaba muy alejada de mi, sentada hablando con
                los que había estado todo el retiro, entonces ahí empecé a pensar, ¿Por qué cuando está
                conmigo un momentico la regañan pero cuando está con ellos todo el día no?, bueno, lo dejé
                pasar, pero si me dejó pensando, ¿que me diferencia de ellos?, no importa, seguí así,
                pensando y dejando pasar todas esas cosas, pero todo el día siguió así, yo solo, y mi novia
                al lado de ellos, especialmente de uno, y yo solo los veía, y pensaba, hasta que hubo un
                momento en el que no fui capaz de más, y subí de nuevo a la habitación, a hacer las
                oraciones de brigada a ver si se me quitaba, pero no, no funcionó, entonces me quedé
                pensando, más o menos 30 o 40 minutos, sentado en la misma posición, con los ojos cerrados,
                unas cuantas lágrimas se asomaban por mis ojos, pero no más, solo pensaba en: ¿cual es la
                diferencia entre mi y ellos?, que soy su novio, ¿y por ser el novio de alguien tengo que
                estar separado de ella?, ¿y por qué alguien que no es nada de ella si puede estar todo el
                día detrás de ella?, bueno, cosas así, que prefiero no decir, porque ya estoy que no aguanto
                más.
            </p>

            <p> Todo continuó así, cuando me dio por salir de la habitación, la peor decisión que tomé,
                porque nada más salir, vi a mi novia sentada en la cama de una habitación, sola con esa otra
                persona, yo sé que no tiene nada de malo, que no se vea nada malo, yo sé, pero después de
                haber pensado esas cosas, y que me los encuentre ahí, era como la gota que colmó el vaso,
                entonces bajé indignado, o mejor dicho, me dolió el corazón, esa imagen que ví, no la voy a
                sacar nunca de mi cabeza, porque fue como si ese cincel que estaba golpeando de a poquitos,
                en ese momento golpeara con más fuerza, y cada escalera hacia abajo que yo pisaba, era una
                estocada más de ese cincel, hasta que cuando toqué el piso, mi corazón ya estaba a punto de
                romperse, pero no iba a dejar que se rompiera así de fácil, entonces frené todos mis
                sentimientos, tenía que pensar con la cabeza fría, y eso intenté, pero todo el mundo se dio
                cuenta que estaba mal.
            </p>

            <p> El resto del día siguó así, no volví a ver a mi novia en mucho
                tiempo, y me imaginaba que estaba arreglandose, o eso esperaba, hasta que escuché a esa
                misma misionera que me había regañado, decir que Salo estaba en el segundo piso sola
                hablando con esa persona, en ese momento, ese cincel logró romper ese escudo que tenía en mi
                corazón, y no lo rompió del todo, pero dejó una grieta, eso me tenía al límite, por eso el
                resto del retiro seguí mal, serio, sin expresión, y por eso intentaba evitar también a mi
                novia, porque me imaginaba que quería estar con esa persona antes que conmigo, entonces por
                eso los dejaba que hablaran lo que quisieran, y así fue todo, hasta el momento de irnos, que
                nos fuimos en el mismo carro.
            </p>

            <p> Al montarnos, todo fue normal, pero yo ví que ella no me
                quería dar ni la mano, efectivamente, pensaba que yo estaba bravo, y un tris sí, pero no con
                ella, el caso es que lo que hice en ese momento fue que me tragué todo, e ignoré lo que
                había pasado, o al menos como que lo intenté, y ahí le agarré la mano, y todo normal el
                resto del día. Todo iba bien, hasta que por la noche, me dio por pedir comida, y tuvimos un
                enredo, que me estresó, y esa bobada, volvió a desatar ese corazón que tenía atado para que
                mi novia no se diera cuenta de tanta bobada que me había afectado, y efectivamente ahí
                mismo, ella se dio cuenta.
            </p>

            <p> Y yo sé, que pendejada, ¿Por eso se puso mal?, ¿esa pendejada le
                rompió el corazón?, ¿se puso celoso por esas cosas?, ¿eso era todo lo que tenía?, ¿y por esa
                estupidez le dio rabia?, y la respuesta a todas esas preguntas es sí, ¿que más puedo hacer
                yo?, ojalá yo poder decir acá mismo que no, hacerme el hombre fuerte y valiente que quiero
                ser, pero no, cada día me doy más cuenta que ese hombre fuerte y valiente, se convierte es
                en un niño mimado que no resiste nada, o lo más comúnmente dicho, un corazón de pollo, ojalá
                decir acá que todo esto ya no me importa, pero no, por eso mismo lo estoy contando, todavía
                me duele, ¿y por qué?, la verdad es que ni yo sé, puede que sea mucho capricho mío, yo sé,
                que son puras bobadas mías, yo sé, pero no sé, tal vez ese hombre que la gente dice que soy,
                es solo un niño que le duele que lo dejen solo, que se pone celoso por bobadas, que le da
                rabia pendejadas, sí, ese soy yo, ese tal Angel de 18 años, puede que sea un niño recién
                nacido que solo tenga para dar ese corazón que tiene, con sus defectos muy grandes, pero
                cada día que pasa, me doy cuenta que es así, lo único que tengo para dar a mi novia es eso,
                no dinero, ni flores, ni chocolates, ni dulces, ni romanticismo, nada, solo un corazón que
                decía ser una piedra, pero que ahora parece un fluido no newtoniano, que cuando le pegan
                parece ser duro, pero que en realidad, si se le hace suave, se comporta como un líquido,
                inservible.
            </p>

            <p> Y todo eso obviamente me dejó muy maluco, aporreado, tanto psicológicamente como
                sentimentalmente, y a parte después de eso, mi hermana me dio una noticia muy dura, y ya mi
                suegra se puso terrible con mi novia otra vez, por eso es que digo que no aguanto más, no
                salgo de una y ya hay otros problemas, estoy al límite de mi capacidad, yo sé que sí el
                Señor me lo pone es por algo, pero Señor, esto es muy difícil, no digo mi noviazgo, eso es
                lo más hermoso que me ha pasado, digo es mi vida en general, ¿Por qué esto a mí? Yo sé que
                soy el que menos sufro de este planeta, pero Señor, no me siento capaz de aguantar más mi
                vida así, de ser así de horrible, y no horriblemente hermoso como dice mi novia, si no así
                de horrible como soy de sentimental, de celoso, de pendejo, de bobo, de estúpido, de tantas
                cosas que, no sé.
            </p>

            <p> Perdón por esto tan largo, seguramente lo estés leyendo amor mío, perdón
                por ser así de terrible, así de celoso, pero bueno, algo malo tenía que tener yo,
                jajajajajajajaj, mentiris, una más a la lista de defectos, ya debe tener eso lleno amor mío,
                pero bueno, yo creo que para un buen noviazgo también debe saber este tipo de cosas, por más
                pendejas que sean, perdón por mi drama, pero bueno, no me queda nada más que hacer, solo
                pensar hasta quedarme dormido, vivir esa escena mil veces en mi cabeza, hasta que por fin se
                digne a desaparecer de ella, o hasta que yo mismo la acepte, entonces amor mío, no sé cuando
                lo vas a ver, ya sabe amor mío, hoy la amo muchísimo más que ayer, y mañana la voy a amar
                muchísimo más que hoy, ya debe estar cansada de mí, de leer, es entendible.
            </p>

            <p> Se despide este
                corazón de, no sé, porque parece que de piedra tiene cero. 💎❤
            </p>
        </div>
        <div class="card border rounded p-5 my-5 shadow">
            <h2>18 de octubre de 2024</h2>
            <p> Parece que muy pronto tuve que volver a escribir aquí, y hoy la verdad, no sé si sean cosas
                malas en su totalidad, yo espero que no. Hoy no sé si me alargue, si no, y, my love, yo sé
                que siempre miras esto, entonces que sepa que os amo con locura, y además de eso, creo que
                hoy voy a abrir un tris mas mi corazón de lo que lo he hecho hasta ahora, en un momentico me
                vas a entender.
            </p>

            <p> No sé cómo comenzar, porque la verdad es que no sé ni qué tengo, porque sí, me siento mal,
                pero no sé ni de dónde, ni por qué, y por eso me voy a intentar desahogar por acá y no por
                chat, porque yo sé que casi no te gusta, además que me he estado quejando mucho últimamente,
                entonces no quiero que se ahogue con tanta queja.
            </p>
            
            <p> Comienzo con el tema físico, es muy horrible lo que me está pasando ahora, pero ps, ya lo
                había vivido antes, pero es un poquito complicado porque me está doliendo un poquito mucho
                las articulaciones, y eso me afecta, porque yo sé que cuando estoy así camino mal, me
                estreso más fácil, me da más rabia, entonces todo el mundo empieza a preguntar que qué me
                pasa?, que si estoy bien?, y un montón de cosas, obviamente de unas personas no me importa
                que me lo digan (como usted mi amor), antes me gusta, pero la gente que me pregunta, o que
                se burla de mí, o que, no sé, me miran diferente, no es que esas cosas me afecten, porque la
                verdad eso me va y me viene, pero que toda la gente me vea como el pobrecito que no es capaz
                de caminar bien, no es muy chevere, y yo sé que me quejo por bobadas, pero por eso estoy
                escribiendo acá, para que sepa todas mis bobadas.
            </p>
            
            <p> Pasando al tema sentimental, que es uno de los más importantes, a ver, no sé ni qué decir,
                porque desde hace unos días, esta semana concretamente, ha sido muy complicado con mi novia,
                y ¿por qué?, porque no sé que pasa, que estos días parece que ella como que, no sé, está más
                alejada, como que ya no demuestra esa misma alegría que demostraba antes al verme, y eso me
                he dado cuenta en pequeños detalles, como la forma en la que me recibe cuando voy a la casa
                de ella, nunca se me va a olvidar la última vez, parecía como que no me quería ver, puede
                que sea cosa mía, pero de verdad, las caras que me hace cuando me ve, no es como antes que
                eran sonrisas, se ponía roja con solo verme, ahora me mira como, no sé, es diferente, como
                que me mira con cara de: "ay, otra vez", y la verdad eso me duele un tris, yo no sé que le
                pasará, que piensa, o no sé, lo único que sé es que verme ya para ella no es lo mismo del
                principio, y aunque yo sé que es normal, me duele y preocupa. 
            </p>
            
            <p> Además de eso, la siento más
                distante, como que, no sé, siento que le cogió como miedo a decirme cosas, y acompañado con
                eso, mucha pena, en muchísimas cosas, y todo eso la hace estar como más distante de mí, por
                ejemplo, que le de pena ir a piscina, yo entiendo que no está acostumbrada a ponerse eso al
                frente mío, porque al frente de otras personas si normal, pero, lo que no entiendo es eso
                mismo, al frente de otra gente es normal, pero al frente mío se estresa más de lo necesario,
                y yo sé que me va a decir que es por cuidarme, pero o sea, lo que me está diciendo con eso
                es como que se tiene que cuidar de mí, como que desconfía que yo la mire mal, o yo no sé,
                pero en esas cosas me doy cuenta que no tiene confianza plena en mí, y la verdad también
                duele un poquito, saber que tengo una novia hace, ya casi, 6 meses, y que todavía no confíe
                en mí, en su novio, o que me vea como una amenaza para algo, no sé, ya estoy hasta
                desvariando, pero si me duele que no haya podido generar esa confianza conmigo, o es que tal
                vez yo soy muy confianzudo, y en ese caso tengo que cambiar. 
            </p>
            
            <p> Y estas dos cosas, más que todo
                que esté así de penosa conmigo, me están, no sé cómo decirlo, como retumbando en el corazón,
                porque ya es mucho tiempo, y que todavía no haya podido hacer como esas confianzas, se
                siente mal, la verdad.
            </p>
            
            <p> Y ya por último, algo que casi nunca hablo porque la verdad lo veo lo menos importante al
                menos para mí, y es mi alma. No sé que pasa últimamente, pero he recibido unos ataques de
                impureza, que nunca había visto cosas iguales, en redes sociales se llena de cosas raras,
                aparecen cosas de la nada, me empiezan a hablar de cosas super cochinas, empiezo a imaginar
                cosas sin siquiera yo darme cuenta, aparecen mujeres por la calle que están literalmente
                desnudas, y siempre coincide que cuando estoy mal sentimentalmente, pum, este tipo de
                tentaciones, ya sé por donde va el tiro de todo, pero de verdad, no aguanto más, yo resisto
                una, dos, tres, cuatro, pero ese número aumenta, y aumenta, y aumenta, y aumenta, y llega en
                un punto que no resisto más, y ya estoy desesperado, no sé qué hacer, la verdad amor mío,
                ahora te hablo directamente, he intentado de todo, cosas dolorosas físicamente, he intentado
                desinstalando las aplicaciones, viendo al piso cuando camino en la calle, pero amor mío,
                siempre hay tentaciones nuevas y como que cada una más dura que la anterior, y te lo digo a
                ti porque eres mi novia, cuando lea esto, que sepa que no estoy bien por ese lado, por ahora
                resisto tentaciones, pero amor mío, necesito también tu ayuda, principalmente con oración, y
                segundo, no sé, mimandome más será, mentiris, no sé amor mío, pero de verdad que yo solo no
                voy a ser capaz, ayuda, porfis.
            </p>
            
            <p> Y bueno amor mío, todo esto me lleva al estado que estoy ahora, con miedo, con dolor en el
                corazón, con tristeza, y no tengo nadie que me mime hoy, pero bueno, así es la vida amor
                mío, toda la vida son espinas, y tu eres esos pétalos que me ayudan a continuar por aquí. Ya
                sabe que la amo con locura amor mío, cuando lo lea, yo sé que Angel del futuro necesita un
                besito y un abrazo. 💎❤
            </p>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
    </script>
    <script>
        var myButton = document.getElementById("myBtn");

        window.onscroll = function () {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                myButton.style.display = "block";
            } else {
                myButton.style.display = "none";
            }
        };

        myButton.onclick = function () {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        };
    </script>
</body>
</html>